h1 {
  font-family: 'UnifrakturCook', cursive;
  font-size: 52px;
}
.output {
  text-align: left;
  height: 400px;
  overflow-y: scroll;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}
.output .generatedOutput {
  border-bottom: 1px solid black;
}
.output .generatedOutput .startingElement {
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
}
.output .generatedOutput .innerElement {
  margin-left: 20px;
}
.output .generatedOutput .title {
  font-weight: bold;
}
