h1,
h2,
h3 {
  font-family: 'UnifrakturCook', cursive;
}
h1 {
  font-size: 52px;
}
h2 button {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h2 .output-clear {
  margin-left: 15px;
}
.output {
  text-align: left;
  height: 400px;
  overflow-y: scroll;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}
.output .generatedOutput {
  border-bottom: 1px solid black;
  padding-bottom: 15px;
}
.output .generatedOutput .entityTitle {
  text-decoration: underline;
}
.output .generatedOutput .entityProperties {
  margin-left: 20px;
}
.output .generatedOutput .entityProperties .variantTitle .title {
  font-weight: bold;
}
.output .generatedOutput .entityProperties h5 {
  font-size: 17px;
}
.output .generatedOutput .entityProperties .entitySubProperties .variantTitle {
  font-size: 16px;
}
.output .generatedOutput .entityProperties .entitySubProperties .variantTitle .title {
  font-weight: normal;
}
.output .generatedOutput .customRollResult {
  font-size: 42px;
}
